<div class="form-wrapper">
  <%= simple_form_for @asset, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div>
      <%= f.label :uploaded_file, "File" %><br />
      <%= f.file_field :uploaded_file %>
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  <% end %>
</div>
