<% if current_user %>
  <h1>My 3D Models</h1>
  <table>
    <tbody>
      <% @assets.each do |asset| %>
        <% if asset.user.id == current_user.id %>
          <div class="model_box">
            <div class="model_name"><%= asset.name %></div>
            <div class="model_img"><img src=<%= asset.model_image %> width="300px"</img></div>
            <div class="more_details"><%= link_to 'More Details', asset %> </div>
          </div>
        <%end%>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>PresentAR - See your 3D models in glorious Augmented Reality</h1>
  <div class="ar_home">
    <%= image_tag "ar_home.png", size: '1200x750' %>
  </div>
<% end %>
