<h3>My Files</h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if current_user %>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url %></td>
        <td><%= link_to 'More Details', asset %> </td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.uploaded_file_file_name %></td>
        <td><%= link_to 'More Details', asset %> </td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
