<p id="notice"><%= notice %></p>

<h3>My Files</h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url %></td>
        <td><%= link_to 'More Details', asset %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload File', new_asset_path %>
