<div class="container">
  <div id="logbox">
    <h1>New Asset</h1>

    <%= render 'form', asset: @asset %>

    <div class="text-center edit-links">
      <%= link_to 'Back', assets_path %>
    </div>
  </div>
</div>
